html {
    // height: 100%;
}

body {
    border: 5px solid #cc3300;
    height: 100%;
    min-height: 100vh;
    position: relative;
    padding-bottom: 60px;
}

body.atendance {
    border-color: #6ff;

    .navbar-inverse {
        background-color: #6ff;
        border-color: #6ff;
        color: #333;

        .navbar-brand,
        .navbar-nav>li>a {
            color: #333;
        }

        &.heading {
            min-height: 0;
            line-height: 2;
            font-size: large;

            p {
                margin: 0;
            }
        }
    }

    .navbar.breadcrumbs {
        min-height: 0;
        font-weight: bold;
    }

    .navbar-outverse {
        margin-bottom: 0;
        z-index: 99;

        h1 {
            margin: 0;
            font-size: 36px;
            font-weight: bold;
            line-height: 2;
        }

        img {
            margin: 10px;
        }

        .navbar-nav {
            float: right;
        }

        .navbar-nav>li>a {
            line-height: 42px;
            background: #d9d9d9;
            color: #333;
        }
    }
}

/**
 * Navigations
 */
.navbar-inverse {
    background-color: #cc3300;
    border-color: #cc3300;
    border-radius: 0;
    color: #fff;

    .navbar-brand,
    .navbar-nav>li>a {
        color: #fff;
        font-weight: bold;
    }
}

footer.navbar-inverse {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 0;
    margin: 0;
    border: none;

    p {
        margin: 0;
        line-height: 2;
    }
}

/**
 * Form
 */
.control-label {
    font-size: x-large;
    font-weight: bold;
}

.btn-lg {
    font-size: x-large;
    font-weight: bold;
}

.btn-default {
    background-color: #d9d9d9;
    border: 1px solid #41719c;
}
.form-bordered {
    border: 1px solid #999;
    padding: 20px;
}
.form-inline {
    input, select, label {
        margin-right: 10px;
    }
    td, th {
        input, select, label {
            margin-right: 0;
        }
        input, select {
            max-width: 8em;
        }
    }
    .submit {
        display: inline-block;
    }
}

/**
 * Misc
 */
.vertical-center {
    position: absolute;
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    overflow: hidden;

    .row, form {
        width: 100%;
    }
}
.text-red {
    color: #c00;
}
.text-blue {
    color: darkblue;
}
.bold {
    font-weight: bold;
}

/**
 * Users / index
 */
.page-users-index {
    text-align: center;
    position: relative;

    .btn-30pct {
        width: 30%;
        padding: 100px 30px;
        background: pink;
        display: inline-block;
        margin: 0 2%;
        font-size: xx-large;
        color: #000;
        font-weight: bold;
        border-radius: 30px;
        border: 2px solid #000;
    }
    .btn-30pct:hover {
        opacity: 0.8;
        color: #000;
    }
    .bg-blue {
        background: turquoise;
    }
}

/**
 * Tables
 */
td.editable {
    padding: 5px;
    width: 5em;
    background: lightgreen;
    text-align: center;

    &.long {
        width: 14em;
    }

    .form-group {
        margin: 0;
    }

    .form-control {
        width: auto;
        max-width: 5em;
        text-align: center;
        background-color: honeydew;
        display: inline-block;
    }
}

/**
 * Side menu in Sales
 */

.nav-side-menu {
    overflow: auto;
    height: 100%;

    .brand {
        line-height: 50px;
        display: block;
        margin-bottom: 20px;
    }
    .toggle-btn {
        display: none;
    }
    ul, li {
        list-style: none;
        padding: 0;
        margin: 0;
        line-height: 35px;
        cursor: pointer;

    }
    li {
        background-color: #f90;
        margin-bottom: 10px;
        padding-left: 10px;

        a {
            color: #000;
        }
        li {
            padding-left: 0;
            background-color: #fff;

            a {
                text-decoration: none;
                color: #394e75;

                i {
                    padding-left: 10px;
                    padding-right: 20px;
                    width: 20px;
                }
            }
            &:hover {}
        }
    }
    .sub-menu li {
        border: none;
        line-height: 28px;
        margin-left: 0;
        background-color: #fff;

        a {
            text-decoration: none;
            color: #394e75;
        }
        &:hover {
            // background-color: #020203;
        }
        &:before {
            content: "≫";
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
            vertical-align: middle;
        }
    }
}
@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;

        .toggle-btn {
            display: block;
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 10 !important;
            padding: 3px;
            background-color: #ffffff;
            color: #000;
            width: 40px;
            text-align: center;
        }
        .brand {
            text-align: left !important;
            font-size: 22px;
            padding-left: 20px;
            line-height: 50px !important;
        }
    }
}
@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}

/* Sales */

.sales.main{
    > header {
        margin-top: -20px;
        margin-bottom: 20px;
        padding: 0.5em 0;
        background: deepskyblue;

        h2 {
            margin: 0;
        }
    }

    .table-bordered {
        caption {
            font-weight: bold;
        }

        thead tr th {
            background: lightblue;
            text-align: center;
        }

        .pink {
            background: lavenderblush;
        }
        .green {
            background: #ade5b7;

            input, select {
                background: #dbf4e0;
                color: green;
                border: 1px solid #dbf4e0;
            }
        }
        .blue {
            background: lightblue;
        }
    }
}